<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title>TCG</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body class="bg-light text-dark">
<div class="container">
  <div th:insert="navbar.html"></div>
</div>
<div class="container">
  <div class="row mt-3">
    <div class="col-12">
      <div layout:fragment="main_content"></div>
    </div>
  </div>
</div>
</body>
<script rel="script" type="text/javascript" src="/js/bootstrap.bundle.js"></script>
</html>