<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
<div layout:fragment="main_content">
    <div class="container">
        <h3 class="text-dark">Вход</h3>
        <form th:action="@{'/to-enter'}" method="post">
            <input type="text" name="user_name">
            <input type="text" name="user_password">
            <button>Sign in</button>
        </form>
    </div>
    <script type="text/javascript">

    </script>
</div>
</body>
</html>